/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use '../public/theme/index.scss';
@import 'primeicons/primeicons.css';

@theme {
  --text-base: 16px;
  --color-base-300: oklch(94% 0 0);
  --color: #2a2730;
}

html {
  @apply text-base bg-base-300;
}

.title {
  @apply font-bold text-2xl opacity-70;
}

.description {
  @apply font-mono;
}
